/* tipografia obtenida por google font */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* el * es el SELECTOR UNIVERSAL, va indicar todos los
elemntos tendran estas configuraciones */
*{
    /* margin: espacio afuera del borde */
    margin: 0;
    /* espacio entre el borde y el contenido interior */
    padding: 0;
    /*  permite especificar el tamaño total del elemento
     de manera más intuitiva y fácil de entender */
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #010e27;
}
h3{font-family: 'Roboto', sans-serif;

    /* font-size: clamp(4vh, 1.5em, 3em); */
}
.wrapper,
.portafolio-heading{
    /* ancho */
    /* alto */
    width: 100vw;
    height: 100vh;
    background-color: rgb(1, 14, 39);
    color:white 
}
/* --------------MENU ------------------ */
header{
    position: sticky;
    top: 0;
    background-color: rgb(40, 40, 40);
    z-index: 1;
}
.navBar{
   
    padding: 20px;
}
.brand{
    display: flex;
    justify-content: space-between;

    
}
/* brand es el titulo */
.brand span{

    color: aquamarine;
}

.menu{
    display: flex;
    justify-content: space-between;
    
}
.menu a{
    padding: 10px;
    color:white;
    /* quitamos el subrayado */
    text-decoration: none;
}
.menu li{
/* quitamos el puntito de los items */
list-style: none;
}
/* para que al poner el mouse cambie de color */
.menu a:hover{
    background-color: aquamarine;
    color:black;
}


/* ------------HOME-------------------- */


.main{
    border: 7px solid white;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.main img{
    width: 100%;
   
    border: 7px solid aqua
}
.info-content{
    margin: 50px;
}
.info-content h1{
    
    font-size: 30px;
    color:aqua;
    font-weight:700;
}
@media screen and (max-width: 426px) {
    /* Estilos para tablets y dispositivos móviles */
   .info-content h1 {
      font-size: 1.5em; /* Disminuye el tamaño del título */
    }
    
     h3 {
      display:none; /* Disminuye el tamaño del subtítulo */
    }
    
   
  }




.info-content2{
    color:white
}
.info-content3{
    color:white
}
.contacto_form{
    display: flex;
    flex-direction: column;
    
}
.contacto_form h4{
    height: 10vh; 
}
.contacto_form input {
    height: 5vh;
    padding: 10px 20px;
    margin-bottom: 10px;
    background: none;
    color:#fff;
    border:none;
    border-bottom: 1px solid #fff;
    
}
.contacto_form textarea{
    height: 25vh;
    padding: 10px 20px;
    background: none;
    color:#fff;
    margin-bottom: 10px;
    border:none;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;

}
.portafolio-heading{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    /* padding: 5em; */
}
.portafolio-heading {
font-size: 1.5em;
}
.card{
    width: 25vw;
    display: flex;
    flex-direction: column;
   align-items: center;
   background-color:#021e52 ;
}
.card_title{
    margin-top: 15px;
    
}
.card_img {
    width: 100%;
    height: 200px;
    background-image: url("../img/paises.jpg");
    background-size: cover;
    background-position: center;
  }
  .proyects_link{
    display: flex;
    margin-top: 15px;
    width: 300px;
    justify-content: space-around;
    

   
  }
  .proyects_link a{
    /* width: 100%;
    height: 100%; */
    font-size: 50px;
    color:#fff;
  }
